.empty-container {
  align-items: center;
  background: var(--light-grey);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  gap: 10px;
  font-size: var(--font-medium);
}
