#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  --hightlight: #d7e4f6;
  --transparent: transparent;
  --black: #1d1d11;
  --weight-400: 400;
  --weight-300: 300;
  --grey: silver;
}
